* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.block > img {
  width: 600px;
  height: 600px;
}

/* _____________________________DESKTOP FIRST_______________________________ */

@media screen and (max-width: 1280px) {
  .block > img {
    padding: 50px;
    border-radius: 10%;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 760px) {
  .block > img {
    padding: 75px;
    border-radius: 25%;
  }
}

@media screen and (max-width: 375px) {
  .block > img {
    padding: 50px;
    border-radius: 50%;
  }
}


